{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">Article not found</h1>
    </header>

    <div>
        <!--XSS here !-->
        Sorry, the path {{{slug}}} doesn't exist
    </div>
</section>

{{> footer}}
