{{> header}}

<section class="user">
    <header class="user-header">
        <h1 class="user-login">{{user.login}}</h1>
    </header>

    <div class="user-description">
        Firstname: {{user.firstname}}<br>
        Lastname: {{user.lastname}}
    </div>
</section>

{{> footer}}
